.main {
  margin: 0 auto;
  padding-top: 1.5rem;
  max-width: 70rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 1;
}

.imgcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
}

.bandimg {
  object-position: center;
  object-fit: cover;
  transition: all 0.3s ease;
}
.bandimg:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.gradient {
  background: linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );
}

.title {
  font-weight: 400;
  text-transform: uppercase;
  background: hsla(18, 76%, 85%, 1);
  font-size: 1.6rem;

  background: linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  background: -moz-linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  background: -webkit-linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
