.text {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.6rem;
  margin: 0;

  background: linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  background: -moz-linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  background: -webkit-linear-gradient(
    to right,
    #ede342ff,
    #f2bf6cff,
    #f69a97ff,
    #fb76c1ff,
    #ff51ebff
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
