.home {
  height: 100vh;
}

.header {
  min-height: 7rem;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  list-style: none;
  gap: 2.4rem;
  display: flex;
}

.band {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bandhead,
.bandimg {
  margin-top: 3rem;
}

.bandimg {
  object-fit: cover;
  object-position: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .card,
  .footer {
    border-color: #222;
  }
  .code {
    background: #111;
  }
  .logo img {
    filter: invert(1);
  }
}
